* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 20px 150px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

ul {
    list-style: none;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.links {
    display: flex;
    justify-content: space-between;
}

.hero-container {
    background-color: #1F2937;
    display: flex;
    flex: 1 1 200px;
    padding: 100px 150px;
    gap: 200px;
}

.hero-txt {
    max-width: 400px;
}
.img-placeholder {
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 200px
}

h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    padding: 16px 0;
}

.hero-container p {
    font-size: 18px;
    color: #E5E7EB;
    padding: 16px 0;
}

.top-button {
    padding: 5px 16px;
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;

}

.info-container {
    background-color: white;
    display: flex;
    flex-direction: column;
}

h2 {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    padding: 20px;
}

.img-container {
    display: flex;
    justify-content: space-evenly;
    padding: 80px;
}

.placeholder {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.placeholder p {
    width: 210px;
    text-align: center;
}

.img {
    border: 5px solid #3882F6;
    border-radius: 25px;
    padding: 100px;
    margin-top: 10px;
}

.quote-container {
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote {
    margin: 100px 350px;
}

.quote .thor {
    font-weight: bold;
    font-size: 26px;
    display: flex;
    justify-content: flex-end;
}

.action-container {
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
}

.button-container {
    background-color: #3882F6;
    display: flex;
    border: 1px solid #3882F6;
    border-radius: 5px;
    padding: 30px;
    margin: 30px;
    gap: 80px;
}

.action-text .action {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
    padding: 10px 30px;
}

.action-text .signup {
    color: #E5E7EB;
    font-size: 18px;
    padding: 0 30px;
}

.bottom-button {
    display: flex;
    align-items: center;
}

.bottom-button button {
    border: 2px solid white;
    border-radius: 5px;
    color: #F9FAF8;
    font-weight: bold;
    font-size: 20px;
    background-color: #3882F6;
    padding: 10px 15px;
}